@model IIS.Models.Content


<link href="/css/Content.css" rel="stylesheet" />
<link href="/css/Index.css" rel="stylesheet" />


<figure>
    <div id="insteadOfPic"><div style="width:100%;align-items:center; text-align-last: center; font-size:x-large;font-weight:900; color: black; ">@Model.Rank</div></div>
    <figcaption style="font-size:large">

        <p style="color:#04AA6D;">@Model.Rank . - @Model.Artist: @Model.Title</p>
        <p>Last week position: @Model.LastWeek (@Model.Detail)</p>

    </figcaption>
</figure